html{
    scroll-snap-type: y mandatory;
}

.app{
    background: black;
    display: grid;
    place-items: center;
}

.container{
    height: 90vh;
    width: 50.625vh;
    position: relative;
    overflow: scroll;
    border-radius: 20px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}